body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.due {
  background-color: yellow;
}

.overdue {
  background-color: red;
}
/* UI = User Interface  Z-Index = Z-Axis */
.ui-draggable-dragging {
  z-index: 9000;
}